fieldset{
    background-color: #e0fbac;
}

h1{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
}

h2{
   text-align: center;
   margin-top: 40px; 
}

